html {
    background-color: #dfdfdf;
    height: 100%;
}

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
 }

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}
  
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

body {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    text-align: left;

    height: 100%;
    width: 100%;
    max-width: 800px;

    background-color: #50a050;

    margin: auto;
}

#move_list {
  border: .5px;
  background-color: #d0d0d0;
  border-color: #004000;
  border-style: solid;
    //flex: 1 1 auto;
    flex-basis: auto;
    width: 90%;
}

%move_list_item {
    padding: 2px;
}

.move_list_item_1 {
    @extend %move_list_item;
    background: #e0e0e0;
}

.move_list_item_2 {
    @extend %move_list_item;
    background: #00e0af;
}

.move_item_vertical_split {
    @include flexbox;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
.move_item_vertical_split_title {
    @include flexbox;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 90%;
}

.move_item_name {
    flex: 1;
    width: 50%;
}
.move_item_special_name {
    flex: 1;
    text-align: right;
    width: 50%;
}

li {
    padding: 0;
    margin: 0;
}

.white_move {
    color: #d0d0d0    
}

.black_move {
    color: #0f0f0f
}

.line_description {
    text-align: left;
    width: 90%
}

.menu_bar {
    @include flexbox;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 90%;
}

%menu_button {
    border: .5px;
    border-style: solid;
    border-color: #303030;
    padding: 5px;
    margin-right: 10px;
}

.add_button {
    @extend %menu_button;
    background: #5050f0;
}

.modify_button {
    @extend %menu_button;
    background: #d0a000;
}

.delete_button {
    @extend %menu_button;
    background: #f05050;
}